* {
    color: var(--text-100);
    font-family: Hind, Mukta, system-ui, -apple-system, Segoe UI, Roboto, 'Helvetica Neue', Arial, 'Noto Sans';
}

body{
    margin:0;
    padding:0;
}

.app{
    background-color: var(--bg-900);
    display: flex;
}